@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}

header {
    height: 7rem;
    color: #fff;
    background-color: $pokemon-red;
    text-align: center;
    font-size: 4.4rem;
    font-weight: bold;
    padding-top: 2rem;
}

article {
    width: 80%;
    min-width: 32rem;
    margin: 0 auto;
}