@use '@/styles/base/variables';

.CloseModal {
  width: 3rem;
  height: 3rem;
  color: variables.$primary;
  border: none;
  background: transparent;
  svg {
    fill: variables.$primary;
  }
  &:hover svg {
    fill: variables.$logoPrimary;
  }
}
