.load-more {
    button {
        padding: 1rem;
        border: none;
        background-color: #e6e6e6;
        margin: 1rem;
        border-radius: 0.8rem;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #cccccc;
        }
    }
}