.pokemon-evolution-chain {
    &  > * {
        vertical-align: middle;
    }
    .arrow-right {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 1.6rem solid transparent;
        border-bottom: 1.6rem solid transparent;
        border-left: 1.6rem solid #272727;
      }
      
      .link {
          display: inline-block;
      }
      .link.interactive {
         cursor: pointer;
      }
}