$color-hp: #FF5959;
$color-attack: #F5AC78;
$color-defense: #FAE078;
$color-special-attack: #9DB7F5;
$color-special-defense: #78C850;
$color-speed: #FA92B2;

.pokemon-stats {
    .stats-wrapper {
        display: flex;
        flex-direction: column;
        .stat {
            display: block;
            height: 1.2rem;
            font-weight: bold;
            flex-basis: 1.8rem;
            align-self: stretch;
            .label {
                width: 13rem;
                display: inline-block;
            }
        }
        .stat-hp {
            background-color:$color-hp;
            color: darken($color: $color-hp, $amount: 40);
        }
        .stat-attack {
            background-color:$color-attack;
            color: darken($color: $color-attack, $amount: 30);
        }
        .stat-defense {
            background-color:$color-defense;
            color: darken($color: $color-defense, $amount: 50);
        }
        .stat-special-attack {
            background-color:$color-special-attack;
            color: darken($color: $color-special-attack, $amount: 25);
        }
        .stat-special-defense {
            background-color:$color-special-defense;
            color: darken($color: $color-special-defense, $amount: 25);
        }
        .stat-speed {
            background-color:$color-speed;
            color: darken($color: $color-speed, $amount: 25);
        }
    }
}