
.pokemon-list {

    .pokemon-item {
        list-style: none;
        width: 10.4rem;
        background-color: #f7f7f7;
        text-align: center;
        margin: 1rem;
        border-radius: 0.8rem;
        display: inline-block;

        img {
            width: 9.6rem;
            height: 9.6rem;
            margin: 0.4rem;
        }

        .pokemon-name {
            text-transform: capitalize;
            font-weight: 700;
            font-family: sans-serif;
            margin: 0.4rem 0;
            width: 10.4rem;
        }

    }
}