// Colours
$pokemon-red: #e82323;

$background: #f8f8f8;
$primary: #7a7a7a;
$secondary: #b6b6b6;

$logoPrimary: #fdc22a;
$logoSecondary: #737373;

$modal-background: rgba(0, 0, 0, 0.4) !default;

// Sizes
$header-height: 3.25rem;
$footer-height: 4rem;

// animations
$check-item-transition-time: 0.2s;

//
$list-item-image-size: 12.8rem;
$list-item-name-width: calc($list-item-image-size + 0.4rem + 0.4rem);
$list-item-width: $list-item-name-width;
$list-item-height: calc($list-item-image-size + 1.8rem + 0.4rem + 0.8rem);
