// Colours
$omnico-grey: #313031;
$light-grey: #f7f7f7;

$bg-check-item: #f2f2d3;
$bg-button-selected: #0c0;
$bg-dragging: #bbeb8f;
$bg-overlay-move: #e2e2e2;
$bg-overlay-drop: #cfc;

$border-color: rgba(0, 0, 0, 0.2) !default;

$app-red: #ed553b;
$app-yellow: #f2b134;
$app-green: #47ab6c;
$app-blue: #0894a1;
$app-purple: #7e4397;
$disabled: #9ba7aa;

$button-red: #e03316;
$button-yellow: #f9b228;
$button-green: #1c8e46;
$button-blue: #08808b;

// Sizes
$header-height: 3.25rem;
$toolbar-height: 4rem;
$button-svg-size: 2rem;

// animations
$check-item-transition-time: 0.2s;
